---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Tentang Kami - Padang Eye Center";
const description = "Mengenal lebih dekat Padang Eye Center";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about">
  <div class="max-w-7xl mx-auto px-4 py-12 md:py-20">
    <div class="grid lg:grid-cols-5 gap-8 lg:gap-12"></div>
  </div>
</BaseLayout>
