---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href={getRelativeLocaleUrl(lang, "/")}>
  <img alt="Blog Logo" src="/assets/logo/logo.png" width="75" height="50" />
</a>
